/* Button Style  */
.primary-button {
    background-color: #B68C5A;
    color: white;
    font-weight: 700;
}

.primary-button:hover {
    border: 1px solid #B68C5A;
}

.card-bg {
    background-image: linear-gradient(#cfcfcf, transparent);
}